
/* Whole tags reset... */
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;   
}
body{
    height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* Nevbar with logo */

nav{
    height: 70px;
}
/* #navUl li{
    height: 10px;
} */
#navUl li a{
    border-bottom: 1px solid transparent;
    margin: 0px 20px;
    padding: 0px 0px;
    transition: 0.7s;
}
#navUl li a:hover{
    color: red!Important;
    border-bottom: 1px solid red;

}


.logo{  
    padding: 0px 30px; 
    text-decoration: none;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
}

/* main or home section  */

#home{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    height: 650px;
}

.main-item{
    margin: 20px;
    width: 50%;
}
#home #main-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:80px ;
}
#main-txt h1{
    font-size: 36px;
    font-family: 'Recursive', sans-serif;
    
    
}
#main-txt h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
    color: teal;
    margin-bottom: 7px 0px 7px 0px;
    
    
}
#main-txt p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    line-height: 22px;
}

#main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#main-img img{
    height: 450px;
    animation-name: growBusiness;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
}
@keyframes growBusiness {
    from {transform:translateY(20px);}
    to {transform:translateY(0px);}
}
/*Contact sectiom*/
.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
  }
  
  .section-content{
    text-align: center; 
  
  }
  #contact{  
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    height: 600px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
  }
  .contact-section{
    padding-top: 40px;
    height: 500px;
  }


  @media only screen and (max-width: 767px){
      #contact{
        height: 720px;
      }
  }


/* aboutUs */
#aboutUs{
    padding: 0px 50px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-item{
    width: 50%;
    margin: 20px 20px;
}
.about-item img{
    width: 100%;
    height: 400px;
}



/* service section  */

#our-service{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0px 50px 0px;
}
#service-head h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 10px 0px 30px 0px;
}
#service-main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px auto 20px auto;
}

.service-card{
    /* margin: 10px 10px 20px 10px; */
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 1px grey;
    transition: all 0.5s;
}
.service-card:hover{
    transform: scale(1.1,1.1);
}
.service-image{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
#appDev{
    background-image: url("android.png");
}
#webDev{
    background-image: url("webdev.jpg");
}
#blkemail{
    background-image: url("blkemail.jpg");
}
#schoolERP{
    background-image: url("schoolMS.png");
}
#AMC{
    background-image: url("AMC.jpg");
}
#eTender{
    background-image: url("eTendering.jpg");
}
#epfoServices{
    background-image: url("epfo.jpg");
}
#dSignature{
    background-image: url("dSignature.jpg");
}
#onlineSM{
    background-image: url("onlineS.jpg");
}

.service-text{
    font-family: 'Source Sans Pro', sans-serif;
    height: 50%;
    width: 100%;
    padding: 8px 10px;
    text-align: justify;
    background-color: #effeff;
}
.service-text h3,p,button{
    margin: 6px 0px;
}

.service-text button{
    position: relative;
    top: 30px;
}
.service-text h3{
    font-size: 22px;
}

.service-text p{
    font-size: 15px;
}

.service-text button{
    margin: 7px 5px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(238, 165, 165);
    outline: none;
    border-radius: 10px;
    border: none;
}
.service-text button:hover{
    background-color: thistle;
}
 
#viewm a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    border:  1px solid black;
    padding: 12px 20px;
    transition: 0.5s;
    border-radius: 2px;
}

#viewm .viewbtn:hover{
    background-color:rgba(74, 70, 70, 0.3);
    
}

/* contact section */
/*Contact sectiom*/













/* footer section */

#mainFooter{
    padding-top:60px ;
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: #242e47;
    margin-top: auto;
    color: white;
}
#foot-top{
    width: 100%;
    display: flex;
    padding: 0px 90px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
@media only screen and (max-width: 767px){
    #contact{
      height: 720px;
    }
}
@media screen and (min-device-width: 800px) and (max-device-width: 959px){
    #foot-top{
        padding: 0px 20px;
    }
}
@media screen and (min-device-width: 300px) and (max-device-width: 991px){
    #navUl li a{
        padding: 5px 0px;
    }
    #navUl{
        z-index: -1;
    }
}
@media screen and (min-device-width: 300px) and (max-device-width: 589px){
    #main-txt h1{
        font-size: 28px;
    }
    #main-img img {
        height: 250px!Important;
    }
    #main-txt p{
        padding-right: 0px!Important;
    }
    #foot-design h4{
        font-size: 15px;
        text-align: center;
        padding: 0px 10px;
    }
    #mainFooter{
        height: 1160px!Important;
    }
    .foot-item{
        margin: auto;
        width: 100%!Important;
    }
    #foot-top{
        width: 100%;
        display: flex;
        padding: 0px 90px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
    
    }
    #foot-item-4{
        display: block!Important;
    }
    #foot-item-4 h4{
        text-align: center;
    }
    #foot-item-4 iframe{
        margin: 0px -30px;
        width: 250px;
        height: 210px;
    }

    #foot-item-3{
        width: 100%;
        height: 220px!Important;
    }
    #news-letter{
       height: 60px;
       align-items: center;
       justify-content: space-between;
    }
    #newLetterForm{
        display: flex!Important;
        align-items: center!Important;
        flex-direction: column;
    }
    #newLetterForm input,#newLetterForm button,#newLetterForm p {
        margin: 10px!Important;
    }





  }

  @media screen and (max-width: 1190px){
    .about-item{
        width: 100%;
    }
    #aboutIMG{
        display: flex;
        justify-content: center;

    }
    .about-item img{
        width: 90%;
        height: 50%;
    }
    #aboutUs{
        flex-direction: column;
    }


    #foot-item-4{
        display: none;
    }
  }
  @media screen and (max-width: 991px){
    #main-txt{
        padding-left: 10px!Important;
    }
    #main-img img {
        height: 300px;
    }
    #home{
        height: 500px;
    }    
  }

  @media screen and (max-width: 899px){
    #foot-top{
        padding: 0px 20px;
    }
  }
  @media screen and (max-width: 819px){
  
    #foot-top{
        padding: 0px 10px;
    }
}
@media screen and (max-width: 799px){
    #foot-top{
        padding: 0px 50px;
    }
    #mainFooter{
        height: 490px;
    }
    #foot-item-3{
        width: 100%;
        height: 110px;
    }
    #news-letter{
       height: 60px;
       align-items: center;
       justify-content: space-between;
    }
    #newLetterForm{
        display: flex;
        align-items: center;
    }
    #newLetterForm input,#newLetterForm button,#newLetterForm p {
        margin: 10px!Important;
    }


}

@media only screen and (min-device-width: 300px) and (max-device-width: 720px){

     /* For portrait layouts only */
     .main-item{
        margin: 20px 0px;
     }
    #home{
        flex-direction: column-reverse;
        height: 580px;
        margin: auto;
    }
    #main-txt{
        width: 100%!Important;
        text-align: center;
    }
    #main-txt p{
        padding-right:30px;
    }
    #main-img{
        width: 100%!Important;
    }

  }


.foot-item{
    width: 290px;
    height: 270px;
    /* border: 1px solid black; */
    padding: 10px 20px;    
}
#foot-item-2{
    width: 200px;
}
.footInner{
    height: 160px;
}
.foot-item h4{
    margin-bottom:10px ;
    font-size: 1rem;
    font-weight: bold;
}
.foot-item iframe{
    margin-top:10px ;
}
.foot-item p{
    color: #8f8f8f;
}
#foot-box-3 ul li{
    text-align: center;
    line-height: 35px;
    display: block;
}
#foot-box-3 ul li a{
    color: white;
}
#foot-design{
    margin-top: 13px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
}
.foot-item p{
    margin: 0px 0px 20px 0px;
}
#foot-design a{
    text-decoration: none;
    color: tomato;
}
.fab{
    font-size: 20px;
    letter-spacing: 10px;
    color: #a9a5a5;
    transition: 0.3s;
}
.fab:hover{
    color: whitesmoke;
}
#socialItem{
    margin-bottom: 20px;
}

#foot-box-2 a{
    color:#8f8f8f ;
}

#news-letter input {
    display: block;
    font-size: 12px;
    width: 220px;
    padding: 13px 10px;
    border: none;
    outline: none;
    height: 40px;
    color: black;
    background-color: rgb(220, 237, 240);
    border-bottom: 2px solid rgb(220, 237, 240);
}


#news-letter input:focus {
    border-bottom: 2px solid rgb(148, 41, 91);
}

#news-letter button {
    display: block;
    margin: 15px 40px;
    width: 140px;
    height: 45px;
    background-color: rgb(148, 41, 91);
    color: white;
    border: none;
    outline: none;
    box-shadow: 4px 4px 8px grey;
    cursor: pointer;
    transition: all 0.6s;
}
#news-letter h4,#news-letter p, #news-letter input{
    text-align: center;
}
#news-letter button:hover {
    background-color: rgb(255, 0, 119);

}
